nav{
	position:absolute;
	top:0;
	right:0;
	left:0;
	background:rgba(0, 0, 0, 0.2);
}


ul{
	position:relative;
    text-align:center;
	width:auto;
	-webkit-padding-start:0px;
}

li{
    list-style: none;
    height:auto;
    display: inline-block;
	margin:0 18px;
	font-family:Raleway;
	font-size:1em;
	color:#ffffff;
	font-weight:700;
	transition: all 0.2s ease-in;
}

li:hover{
	transform:scale(1.1);
}

a{
	text-decoration:none;	
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
	-webkit-font-smoothing: antialiased;
	/*overflow:hidden;*/
}

.profil{
	width:8%;
	min-width:140px;
}


#slider1{
	background: url(back2.jpg) center 0 no-repeat fixed;
	-webkit-background-size:cover; 
	background-size:cover; 
	height:100%;
}

#page-table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#page-td {
    height: 100%;
    padding: 0;
    vertical-align: middle;
}

#global {
    width: auto;
    margin: 60px auto;
	text-align:center;
}

h1{
	font-family:Raleway;
	font-size:4em;
	color:#ffffff;
	font-weight:700;
	margin-top:10px;
	margin-bottom:0;
}

h2{
	font-family:Raleway;
	font-size:1.25em;
	color:#ffffff;
	font-weight:300;
	opacity:0.8;
	margin-top:5px;
}

.social{
	display:inline-block;
	margin:10px;
	margin-top:30px;
	margin-bottom:30px;
	width:50px;
	transition: all 0.2s ease-in;
}

.social:hover{
	transform: scale(1.2);
}

.button{
	display:inline-block;
	width:190px;
	height:50px;
	border:2px solid #ffffff;
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
	opacity:0.6;
	font-family:Raleway;
	font-size:1.25em;
	color:#ffffff;
	font-weight:700;
	line-height:50px;
	transition: all 0.1s ease;
	border-radius:25px;
}

.button:hover{
	opacity:1;
}

footer{
	width:100%;
	text-align:center;
	position:absolute;
	bottom:0;
	height:auto;
}

.arrow{
	width:50px;
	margin:0 auto;
	opacity:0.6;
	margin-bottom:20px;
	animation-duration: 1s;
    animation-name: zoom;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

#slider3{
	background-color:#fff;
	height:auto;
	position:relative;
	padding-bottom:65px;
}

@keyframes zoom {
  0% {
    transform:scale(1.0);
  }
  
  50% {
    transform:scale(1.2);
  }
  
  100% {
	transform:scale(1.0);
  }
}

.slider-sepa{
	background-color:#fff;
	height:20px;
	width:100%;
}

#resume-content{
	background-color:#fff;
	height:auto;
}

#about{
	background: url(cv.jpg) center 0 no-repeat fixed;
	-webkit-background-size:cover; 
	background-size:cover; 
	display:block;
	position:relative;
	height:auto;
	width:100%;
	margin-top:0;
	padding:70px 0 80px 0;
}


.title{
	font-family:Lobster Two;
	font-weight:700;
	font-size:4em;
	text-align:center;
	color:rgba(255, 255, 255, 1);
}

.aboutText{
	font-family:Raleway;
	font-weight:300;
	font-size:0.9em;
	text-align:center;
	color:rgba(255, 255, 255, 1);
	text-align: justify;
	-moz-text-align-last: center;
    text-align-last: center;
    text-justify: inter-word;
	width:50%;
	max-width:650px;
	margin:20px auto 40px auto;
	line-height:22px;
}

#infoperso{
	width:100%;
	height:20px;
	margin:50px auto 50px auto;
	text-align:center;
	font-family:Raleway;
	font-weight:700;
	font-size:1em;
	color:#fff;
}

.phone{
	display:inline-block;
	line-height:20px;
	padding:0 20px;
}

.country{
	display:inline-block;
	line-height:20px;
	padding:0 20px;
	border-right:1px solid #fff;
	border-left:1px solid #fff;
}

.dateofbirth{
	display:inline-block;
	line-height:20px;
	padding:0 20px;
}

#buttons{
	width:100%;
	height:50px;
	margin:0 auto;
	text-align:center;
	font-family:Raleway;
	font-weight:700;
	font-size:1em;
	color:#fff;
}

.downloadButton{
	width:13%;
	height:50px;
	border:2px solid #fff;
	margin:0px auto 0px auto;
	font-family:Raleway;
	font-weight:500;
	font-size:1em;
	text-align:center;
	color:#fff;
	line-height:50px;
	transition: all 0.3s ease;
	min-width:250px;
	display:inline-block;
	margin:0 20px;
	border-radius:25px;
}

.hireButton{
	width:13%;
	height:50px;
	border:2px solid #fff;
	margin:0px auto 0px auto;
	font-family:Raleway;
	font-weight:500;
	font-size:1em;
	text-align:center;
	color:#fff;
	line-height:50px;
	transition: all 0.3s ease;
	min-width:250px;
	background-color:tomato;
	display:inline-block;
	margin:0 20px;
	border-radius:25px;
}

.downloadButton:hover{
	background-color:tomato;
	
}

.hireButton:hover{
	background:none;
}

.title2{
	text-align:center;
	margin:0 auto;
	height:auto;
	padding:80px 0;
}

.sepa{
	width:17%;
	height:1px;
	min-width:200px;
	background-color:#555f62;
	display:inline-block;
	margin-bottom:27px;
}

.tg{
	display:inline-block;
	margin:0 20px;
	width:auto;
}

.t11{
	font-family:Raleway;
	font-weight:700;
	font-size:2.3em;
	color:#08aeac;
}

.t12{
	font-family:Raleway;
	font-weight:700;
	font-size:2.3em;
	color:tomato;
}

.t13{
	font-family:Raleway;
	font-weight:700;
	font-size:2.3em;
	color:#fff;
}

.t14{
	font-family:Raleway;
	font-weight:700;
	font-size:2.3em;
	color:#3498db;
}

.t15{
	font-family:Raleway;
	font-weight:700;
	font-size:2.3em;
	color:#f39c12;
}

.t2{
	font-family:Raleway;
	font-weight:300;
	font-size:1em;
	color:#555f62;
}

.t23{
	font-family:Raleway;
	font-weight:300;
	font-size:1em;
	color:#fff;
}

#edu{
	display:block;
	margin:0 auto 0 auto;
	height:auto;
	width:100%;
	margin-bottom:80px;
	position:relative;
}

.bar{
	display:block;
	position:absolute;
	width:3px;
	height:450px;
	background-color:#b8bfc6;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	top:50px;
	z-index:1;
}

.edu{
	display:block;
	width:100%;
	height:auto;
	text-align:center;
	margin-bottom:50px;
}

.edu-last{
	display:block;
	width:100%;
	height:150px;
	text-align:center;
	margin-bottom:30px;
}

.eduText{
	display:inline-block;
	background-color:#ECF0F1;
	width:440px;
	height:100%;
	position:relative;
	margin:0;
	vertical-align:top;
	text-align:left;
	min-height:120px;
	transition:all 0.2s ease-in;
}

/*
.eduText2:hover{
	-moz-box-shadow: 2px 2px 3px 0px #c0c0c0;
	-webkit-box-shadow: 2px 2px 3px 0px #c0c0c0;
	-o-box-shadow: 2px 2px 3px 0px #c0c0c0;
	box-shadow: 2px 2px 3px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=3);
}
.eduText:hover{
	-moz-box-shadow: -2px 2px 3px 0px #c0c0c0;
	-webkit-box-shadow: -2px 2px 3px 0px #c0c0c0;
	-o-box-shadow: -2px 2px 3px 0px #c0c0c0;
	box-shadow: -2px 2px 3px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=224, Strength=3);
}
*/

h3{
	font-family:Raleway;
	font-weight:600;
	font-size:1em;
	color:#212121;
	padding-left:30px;
	margin-top:20px;
	margin-bottom:0;
}

h4{
	font-family:Raleway;
	font-weight:200;
	font-size:0.9em;
	color:#212121;
	padding-left:30px;
	margin-top:0px;
	margin-bottom:0;
}

.edu p, .edu-last p{
	font-family:Raleway;
	font-weight:300;
	font-size:14px;
	line-height:22px;
	color:#212121;
	padding:10px 30px 20px 30px;
	margin:0;
}

.eduDate{
	display:inline-block;
	width:440px;
	height:100%;
	position:relative;
	margin:0;
	vertical-align:top;
	text-align:left;
	line-height:150px;
	color:#212121;
	font-family:Raleway;
	font-weight:700;
	font-size:1.25em;
}

.triangle{
	position:absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 0 9px 15.6px;
	border-color: transparent transparent transparent #ECF0F1;
	right:-15px;
	top:63.5px;
}

.progress{
	display:inline-block;
	width:60px;
	height:60px;
	background-color:#08aeac;
	margin:0;
	vertical-align:top;
	border-radius:35px;
	margin:45px 30px 0 30px;
	z-index:5;
	position:relative;
}

.eduText2{
	display:inline-block;
	background-color:#ECF0F1;
	width:440px;
	height:100%;
	position:relative;
	margin:0;
	vertical-align:top;
	text-align:left;
	min-height:120px;
	transition:all 0.2s ease-in;
}


.eduDate2{
	display:inline-block;
	width:440px;
	height:100%;
	position:relative;
	margin:0;
	vertical-align:top;
	text-align:right;
	line-height:150px;
	color:#212121;
	font-family:Raleway;
	font-weight:700;
	font-size:1.25em;
}

.triangle2{
	position:absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 15.6px 9px 0;
	border-color: transparent #ECF0F1 transparent transparent;
	left:-15px;
	top:63.5px;
}

.progress2{
	display:inline-block;
	width:60px;
	height:60px;
	background-color:#08aeac;
	margin:0;
	vertical-align:top;
	border-radius:35px;
	margin:45px 30px 0 30px;
	z-index:5;
	position:relative;
}

.w-progress{
	display:inline-block;
	width:60px;
	height:60px;
	background-color:tomato;
	margin:0;
	vertical-align:top;
	border-radius:35px;
	margin:45px 30px 0 30px;
	z-index:5;
	position:relative;
}

.w-progress2{
	display:inline-block;
	width:60px;
	height:60px;
	background-color:tomato;
	margin:0;
	vertical-align:top;
	border-radius:35px;
	margin:45px 30px 0 30px;
	z-index:5;
	position:relative;
}

.info{
	display:block;
	height:auto;
	width:100%;
	/*background-color:#ECF0F1;*/
	text-align:center;
    background: url(book.jpg) center 0 no-repeat fixed;
	-webkit-background-size:cover; 
	background-size:cover; 
}

.hobby{
	display:inline-block;
	margin:0 20px 80px 20px;
	width:150px;
	height:150px;
	border:3px solid #fff;
	border-radius:80px;
	background:rgba(0, 0, 0, 0.4);
	vertical-align:top;
	text-align:center;
	transition:transform 0.2s ease-in;
	cursor:pointer;
}

.hobby:hover{
	transform:scale(1.05);
}

.hobby p{
	font-family:Raleway;
	font-size:1em;
	color:#fff;
	font-weight:300;
	margin:8px;
}

#skills{
	width:100%;
	text-align:center;
	background-color:#ECF0F1;
	height:auto;
	padding-bottom:1px;
}

#menu-skills{
	display:block;
	text-align:center;
	width:100%;
	height:45px;
}

.menu-skills-box, .menu-port-box{
	display:inline-block;
	height:41px;
	width:130px;
	border:2px solid #212121;
	text-align:center;
	margin:0 5px;
	font-family:Raleway;
	font-size:0.8em;
	color:#212121;
	font-weight:700;
	line-height:41px;
	border-radius:25px;
	transition:all 0.2s ease-in;
}

.menu-skills-box:hover{
	border-color:#3498db;
}

.menu-port-box:hover{
	border-color:#f39c12;
}

.skills-content{

	width:100%;
	height:auto;
	text-align:center;
	margin-top:50px;
	margin-bottom:79px;
}

.progress-bar{
	width:30%;
	height:35px;
	background:rgba(255,255,255,0.7);
	margin:30px auto;
	min-width:600px;
	border-radius:8px;
}

.progress-bar-content{
	width:70%;
	height:100%;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	background-color:#08aeac;
	font-family:Raleway;
	font-size:1em;
	color:#fff;
	font-weight:500;
	line-height:35px;
	padding-left:20px;
	text-align:left;
}

#portfolio {
	text-align:center;
	margin:50px auto 0 auto;
	width:70%;
	max-width:1200px;
	height:auto;
}

.project{
	display:inline-block;
	width:300px;
	margin:15px;
	position:relative;
	overflow:hidden;
	height:240px;
	cursor:pointer;
}

.project-overlay{ background:rgba(0, 0, 0, 0.8);width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;transition:all 0.5s;-ms-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s; }

.project:hover .project-overlay{ opacity:1; z-index:5; }

.project img.pr { transition:all 400ms;-webkit-transition:all 400ms;-ms-transition:all 400ms;-o-transition:all 400ms;display:block;width:100%;height:250px; }

.project:hover img.pr { -webkit-transform: scale(2);-moz-transform: scale(2);-o-transform: scale(2);-ms-transform: scale(2);transform: scale(2); }

.project-overlay h2{
	font-family:Raleway;
	font-weight:700;
	color:#fff;
	font-size:1.5em;
	text-transform:uppercase;
	opacity:1;
	margin:0;
}

.project-overlay h3{
	font-family:Raleway;
	font-weight:300;
	color:#fff;
	font-size:0.9em;
	opacity:1;
	padding:0;
	margin:0;
}

.project-overlay .separate{
	height:1px;
	background-color:#fff;
	opacity:1;
	width:85%;
	margin:10px auto;
}

.details{
	height:100%;
	width:100%;
	padding-top:85px;
}


